# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
dist/
build/
out/

# Tauri
src-tauri/target/

# IDE

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment
.env
.env.local
.env.production
